.card-img {
  height: 50px;
  width: auto;
}

.card {
  text-align: center;
}

.meet-card>img {
  height: 229px;
  width: 100%;
}

.meet-card {
  border: 1px solid white;
  margin: 10px;
}


/* .expertise-grid-item {
  border: solid grey 1px;
  border-collapse: collapse;
} */

/* 
.expertise-grid-item:nth-child(1) {
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
} */

.expertise-grid-item:nth-child(2) {
  border-left: solid grey 1px;
  margin-left: -1px;
  padding-left: 1px;
}

.expertise-grid-item:nth-child(3) {
  border-left: solid grey 1px;
}


.expertise-grid-item:nth-child(3n+4) {
  border-right: solid grey 1px;
  border-top: solid grey 1px;
  margin-top: -1px;
  padding-top: 1px;
}

.expertise-grid-item:nth-child(3n+5) {
  border-right: solid grey 1px;
  border-top: solid grey 1px;
  margin-top: -1px;
  padding-top: 1px;
}

.expertise-grid-item:nth-child(3n+6) {
  border-top: solid grey 1px;
  margin-top: -1px;
  padding-top: 1px;
}

/* .expertise-grid-item:last-child {
  border-right: 0px;
} */

.expertise-grid-kostil {
  width: 66.6%;
  border-top: solid grey 1px;
  margin-top: -1px;
  padding-top: 1px;
}


/* .expertise-grid-item:nth-child(4) {
  border-right: solid grey 1px;
} */

/* .expertise-grid-item:nth-child(5) {
  border-right: solid grey 1px;
} */

.expertise-card {
  padding-top: 30px;
  padding-bottom: 35px;
}

.expertise-card-title {
  color: #413d4b;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 1000;
  text-transform: uppercase;
  padding-top: 6px;
}

.expertise-card-description {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 254px;
  margin: 0 auto;
}